a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  height: 3em;
  border-radius: .3em;
  padding-left: 1.5em;
  border: 1px solid #cccccc;
}

input:focus {
  outline: none;
}
