<div class="container-fluid pt-5">
  <div class="row w-100 header-detail">
    <div class="col-10 mx-auto">
      <div class="col-8 mx-auto">
        <h5 class="text-mid">{{product.name}}</h5>
      </div>
    </div>
  </div>
    <div class="row w-100 ">
      <div class="col-6 em-40 d-flex align-items-center justify-content-end">
        <div class="">
            <img class="em-33" src="{{product.img}}">
        </div>
      </div>
      <div class="px-5 col-6 d-flex justify-content-start">
        <div class="col-7 mt-5">
          <p class="text-warning mb-0">New</p>
          <h5>Apple Watch</h5>
          <h2>Starlight Aluminum Case with Solo Loop</h2>
          <p>From ${{product.price}}. per monthfor 24 mo.monthsFootnote*</p>
          <p>Order now. Available starting 9.16.</p>
          <p>{{product.detail}}</p>
          <hr>
          <div class="row">
            <button type="button" class="btn col-6 mx-auto rounded-pill btn-outline-dark">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
</div>
