<section class="about_section layout_padding">
  <div class="container  ">
    <div class="row">
      <div class="col-md-6 col-lg-6 ">
        <div class="img-box">
          <img src="assets/images/about-img.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-lg-6 center_box">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Apple watch 2022
            </h2>
          </div>
          <p>
            <span class="mr-3"><i class="fa-solid fa-battery-full"></i></span> 1 đến 3 ngày sử dụng
          </p>
          <p>
            <span class="mr-3"><i class="fa-solid fa-phone"></i></span> Có thể gọi
          </p>
          <p>
            <span class="mr-3"><i class="fa-solid fa-heart-pulse"></i></span> Nhiều tiện ích sức khỏe
          </p>
          <p>
            <span class="mr-3"><i class="fa-solid fa-tag"></i></span> 10.000.000 đ
          </p>
          <a href="">
            Đặt hàng
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
