/*.em-40 {*/
/*  height: 40em;*/
/*}*/
.em-33 {
  height: 33em;
}

.header-detail {
  height: 3em;
  border-bottom: 1px solid #ccc;
}

.text-3em {
  line-height: 3em;
}

.text-mid {
  line-height: 2em;

}

button {
  height: 2.5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.border-ccc {
  border: 1px solid #cccccc;
  border-radius: .7em;
}

.bg-ccc {
  background: #f6f6f6;
}

.rounded-5 {
  border-radius: .5em;
}

button {
  border-radius: .7em !important;
  height: 2.4em;
}

