<div class="container-fluid em-45">
  <div class="container">
    <div class="row pt-5 w-100">
      <div class="col-10 pt-4 px-4 mx-auto">
        <h1><span *ngIf="this.id == ''">Create new</span> <span *ngIf="this.id != ''">Update</span> Product.</h1>
      </div>
    </div>
    <div class="row pt-5 w-100">
      <h4 class="text-secondary text-center"><span *ngIf="this.id == ''">Add new</span> <span *ngIf="this.id != ''">Update</span> Product to Apple Store</h4>
    </div>
    <div class="row w-100 mt-4">
      <form [formGroup]="productForm">
        <div class="col-4 mx-auto">
          <div class="form-group mb-4">
            <input hidden formControlName="id" type="text" class="w-100 rounded border-ccc" placeholder="Id">
            <input formControlName="name" type="text" class="w-100 rounded border-ccc" placeholder="Name">
          </div>
          <div class="form-group">
<!--            <input id="input-file" (change)="onFileSelected($event)" type="file" name="img" class="w-100 rounded border-ccc" placeholder="Img">-->
            <label for="file-upload" class="custom-file-upload">
              Custom Upload
            </label>
            <input id="file-upload" type="file" hidden>
          </div>
          <div class="form-group mt-4">
            <textarea  type="text" formControlName="detail" class="w-100 rounded border-ccc" placeholder="Detail"></textarea>
          </div>
          <div class="form-group mt-4">
            <input  type="number" formControlName="price" class="w-100 rounded border-ccc" placeholder="Price">
          </div>
          <div class="form-group mt-4">
            <select type="productCategory" formControlName="productCategory" class="w-100 h-3 rounded border-ccc" placeholder="Price">
              <option *ngFor="let item of categorys" [selected]="true" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
          <div class="form-group my-4 d-flex justify-content-center">
            <button type="button" (click)="create()" class="btn col-12 mb-5 rounded-pill btn-outline-dark"> <span *ngIf="this.id == ''">Create</span> <span *ngIf="this.id != ''">Update</span> Product </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
