.text-ccc {
  color: #494949;
}

input {
  height: 3em;
  padding-left: 1em;
}

textarea {
  /*padding-top: .5em;*/
  /*padding-left: 1em;*/
  padding: .5em 0 0 1em;
  height: 3em;
}

.border-ccc {
  border: 1px solid #cccc;
}

.em-45 {
  /*height: 45em;*/
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.h-3 {
  height: 3em;
  padding-left: 1em;
}
