<div class="container-fluid p-0">
  <div class="row cover em-60 pb-5 m-0 ">
    <img class="img-cover w-100 big-img p-0"
         src="/assets/img_product/hero__x15fcac9fw2q_xlarge.jpg">
    <div class="row w-100 mb-5 pb-5 position-absolute b-0">
      <div class="col-6 mx-auto">
        <div class="col-7 mx-auto">
          <h4 class="text-center text-light">Introducing an all-new iPhone lineup, rebuilt AirPods Pro, three new Apple
            Watch models, and an exciting update to Apple Fitness+.</h4>
          <div class="row w-100 d-flex justify-content-center mt-4 p-0">
            <button type="button" class="btn col-3 mx-3 rounded-pill btn-outline-light">Learn more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black pt-5">
    <div class="row w-100 pt-5">
      <div class="col-6 mx-auto mt-5 pt-5">
        <div class="col-8 mx-auto">
          <h1 class="text-center text-blue display-1 font-weight">iPhone 14 Pro</h1>
          <h4 class="text-center text-light">Meet Dynamic Island, a magical new way to interact with iPhone.
            Groundbreaking safety features designed to save lives. And an innovative 48MP camera for mind‑blowing
            detail. All powered by the ultimate smartphone chip.</h4>
        </div>
      </div>
      <div class="row w-100 d-flex justify-content-center mt-4 p-0">
        <button type="button" class="btn col-1 mx-3 rounded-pill btn-outline-light">Learn more</button>
        <button type="button" class="btn col-1 mx-3 rounded-pill btn-outline-light">View Pricing</button>
      </div>
      <div class="row mt-4">
      </div>
      <div class="row w-100 mt-2">
        <div class="col-6 mx-auto">
          <img class="w-75 center-img" src="/assets/img_product/iphone_14_pro_hero__e4ivycyx40k2_large.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100 bg-white m-0">
    <div class="em-53 border-top p-0">
      <div class="row w-100 align-items-center m-0">
        <div class="col-6 d-flex justify-content-end">
          <div class="col-6 mx-5">
            <h1 class="text-center display-1 font-weight">iPhone 14</h1>
            <h4 class="text-center">Say hello to iPhone 14 and the new, supersized iPhone 14 Plus. With awesome
              all‑day battery life. Groundbreaking safety features designed to save lives. And even more spectacular
              low‑light shots.</h4>
            <div class="row mt-4">
              <button type="button" class="btn col-3 mx-auto rounded-pill btn-outline-dark">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-6 p-0">
          <div class="col-11">
            <img class="w-100 mt-5"
                 src="/assets/img_product/iphone_14_hero__ceub5xriecgi_large.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100 bg-black m-0">
    <div class="em-53 border-top border-none p-0 d-flex align-items-end">
      <div class="container">
        <h5 class="text-warning text-center m-0">new</h5>
        <h1 class="text-center display-4 mb-0 font-weight-2 text-light">Macbook Pro 13</h1>
        <p class="text-center h3 text-light">Pro anywhere</p>
        <p class="text-center h6 mt-4 text-light">From $1299</p>
        <div class="col-6 px-3 mt-4 mx-auto d-flex justify-content-center">
            <button type="button" class="mx-4 col-2 btn btn-primary rounded-pill">Buy</button>
            <p class="w-25  m-0 h5"> <a class="line-5em" href="#">Learn more <i class="fa-solid fa-angle-right"></i></a></p>
        </div>
        <div class="col-9 mt-4 mx-auto">
          <img class="w-100" src="/assets/img_product/macbook_pro_13__e3r46kd69eoi_large.jpg">
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100 color-cover m-0">
    <div class="em-53 border-top border-none p-0 d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-6 mx-auto pt-5 mt-5">
            <p class="h3 text-center m-0 font-weight-2"><i class="bi bi-apple"></i> WATCH</p>
            <small><p class="text-center text-orange font-weight-2">SE</p></small>
            <p class="h1 col-5 mx-auto text-center">A great deal to love.</p>
            <p class="text-center h5 mt-4">From $249</p>
            <p class="text-center text-ccc h5">Available starting 9.16</p>
            <div class="row mt-4 d-flex justify-content-center">
              <button type="button" class="mx-2 mx-4 col-2 btn btn-primary rounded-pill">Order now</button>
              <p class="w-25 m-0 h5"> <a class="line-5em" href="#">Learn more <i class="fa-solid fa-angle-right"></i></a></p>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-start">
            <div class="col-10">
              <img class="w-100" src="/assets/img_product/tile-watch-se__knji2d25x8qe_large.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
