<div class="container pt-5 ">
  <div class="col-10 my-2 mx-auto">
    <h4 class="m-0">Check out</h4>
  </div>
</div>
<hr class="m-0">
<div class="container pb-5">
  <p class="h1 mt-4 text-total text-center">Your bag <span *ngIf="totalPrice == 0">is empty.</span> <span *ngIf="totalPrice != 0">total is {{totalPrice | currency}}</span></p>
  <p class="text-center mt-4 h5">Get free shipping and free returns on orders.</p>
  <div class="row my-4 d-flex justify-content-center">
    <div class="col-4">
      <button (click)="pay()" class="btn w-100 h-2em btn-dark" type="submit">Check Out with Apple Pay</button>
    </div>
    <div class="col-4">
      <button (click)="pay()" class="btn w-100 h-2em btn-primary" type="submit">Check Out with Paypal</button>
      <button hidden type="button" id="modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div id="paypal-button-container"></div>
              <button hidden id="close-modal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-5 mb-4 col-10 mx-auto">
  <div *ngIf="totalPrice == 0" class="col-10 mx-auto">
    <img class="w-100" src="assets/img_product/apple-new-arrivals-checkout-201804.jfif">
  </div>
  <div *ngFor="let item of cart">
    <div class="row mb-4 col-10 mx-auto cart-item">
      <div class="col-3 h-100">
        <img class="h-100" [src]="item.productItem.img">
      </div>
      <div class="col-3 my-auto">
        <p class="h2">{{item.productItem.name}}</p>
      </div>
      <div class="col-3 my-auto d-flex justify-content-end">
        <div class="col-2 d-flex align-items-center">
          <p class="h2 text-center">{{item.quantity}}</p>
        </div>
        <div class="col-3">
          <i (click)="upQuantity(item.productItem.id)" class="fa-solid pointer w-100 text-primary h4 fa-chevron-up"></i>
          <i *ngIf="item.quantity > 1" (click)="downQuantity(item.productItem.id)" class="fa-solid pointer w-100 text-primary h4 fa-chevron-down"></i>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <div class="col-3 mt-4 ">
          <p class="h2">{{item.productItem.price * item.quantity | currency}}</p>
          <p (click)="remove(item.productItem.id)" class="h6 px-3 pointer under-line text-primary"><a>Remove</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


