.text-total {
  font-size: 3.2em;
}

.border {
  border-radius: .3em;
}

.h-2em {
  height: 3em;
}

.btn:focus {
  outline: none !important;
  border: none !important;
}

.cart-item {
  height: 7em;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.under-line:hover {
  text-decoration: underline;
}
