<div class="container-fluid bg-footer pt-3">
  <div class="col-8 mx-auto">
    <div class="col-10 mx-auto">
      <div class="row">
        <p class="p-0 text-ccc">More ways to shop: Find an Apple Store or other retailer near you. Or call 1-800-MY-APPLE.</p>
        <hr>
      </div>
      <div class="row pb-3">
        <div class="col-4 p-0 text-ccc">
          Copyright © 2022 Apple Inc. All rights reserved.
        </div>
        <div class="col-6 p-0 text-ccc">
          Privacy Policy | Terms of Use | Sales and Refunds | Legal | Site Map
        </div>
        <div class="col-2 d-flex justify-content-end p-0 text-ccc">
          United States
        </div>
      </div>
    </div>
  </div>
</div>
