<section class="contact_section mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form_container">
          <div class="heading_container">
            <h2>
              LOGIN
            </h2>
          </div>
          <form action="">
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Password" />
            </div>
            <div class="d-flex ">
              <button>
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-box">
          <img src="assets/images/contact-img.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
